name: Binaries

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths-ignore:
    - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  emacs-version: 30.2

jobs:
  badge:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: jcs090218/setup-emacs@master
      with:
        version: ${{ env.emacs-version }}

    - uses: actions/checkout@v6

    - uses: emacs-eask/setup-eask@master
      with:
        version: 'snapshot'

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Generate SVG badges (system)
      run: make generate_badges_system

    - name: Push generated badges (system)
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Update SVG badges - system"
        git push

  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-24.04
          target: linux-x64
        - os: ubuntu-24.04-arm
          target: linux-arm64

    steps:
    - uses: jcs090218/setup-emacs@master
      with:
        version: ${{ env.emacs-version }}

    - uses: actions/checkout@v6
      with:
        persist-credentials: false
        fetch-depth: 1

    - name: Extract tar
      run: |
        tar -xvzf ${{ matrix.target }}.tar.gz -C ./bin/

    - name: Prepare Eask (Unix)
      run: |
        chmod -R 777 .github/scripts/
        .github/scripts/setup-eask

    - name: Test
      run: eask info

  macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: macos-15-intel
          target: macos-x64
        - os: macos-15
          target: macos-arm64

    steps:
    - uses: jcs090218/setup-emacs@master
      with:
        version: ${{ env.emacs-version }}

    - uses: actions/checkout@v6
      with:
        persist-credentials: false
        fetch-depth: 1

    - name: Extract tar
      run: |
        tar -xvzf ${{ matrix.target }}.tar.gz -C ./bin/

    - name: Prepare Eask (Unix)
      run: |
        chmod -R 777 .github/scripts/
        .github/scripts/setup-eask

    - name: Test
      run: eask info

  windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: windows-latest
          target: win-x64
        - os: windows-latest
          target: win-arm64

    steps:
    - uses: jcs090218/setup-emacs@master
      with:
        version: ${{ env.emacs-version }}

    - uses: actions/checkout@v6
      with:
        persist-credentials: false
        fetch-depth: 1

    - name: Extract zip
      run: |
        unzip ${{ matrix.target }}.zip -d ./bin/

    - name: Prepare Eask (Windows)
      run: .github/scripts/setup-eask.ps1    

    - name: Test
      run: eask info
